html{
    font-family: 'Lato';
    font-weight: 300;
    min-width: 850px;
}
nav{
    background-image: linear-gradient(to right, #fff 30%, #75E547);
    height: 58px !important;
    line-height: 58px !important;
}

nav li a{
    text-transform: uppercase;
    color: #333;
}
.dropdown-content{
    width: auto !important;
}
.dropdown-content li>a, .dropdown-content li>span{
    color: #333;
}

nav img.user_img {
	border-radius: 50% 50% 50% 50%;
	border: 2px solid white;
	width: 37px;
    margin-right: 0.75em;
	z-index: 50;
}

#title_logo{
    height: 48px;
    margin: 3px 15px;
}
h1, h2, h3{
    color: #333;
    font-family: 'Roboto';
}
h1{
    position: relative;
    bottom: 0.3em;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: 100;
    display: inline-block;
}
h2{ font-size: 1.7rem;
    font-weight: 100;
}
h3{ font-size: 1.3rem;
    font-weight: 100;
}
h4{ font-size: 1.1rem; font-weight: 500;}

#c{
    width: 100%;
    z-index: 1;

}
.colorwheel {
	display: none;
	width: 150px;
	height: 150px;

    position: absolute;
    top: 100px;
    left: 100px;

    z-index: 200;
}
.colorwheel-value{
    display: none;
}
.delete_from_list_button{
    color: #000;
}

#formation_title{
    position: absolute;
    top: 70px;
    left: 30px;
    z-index: 30;
    border: 1px solid transparent;
    padding: 8px;
    margin: 0;
}
#formation_title i{
    margin-left: 0.5em;
    font-size: 0.9em;
    color: #eee;
}
#formation_title:hover{
    cursor: text;
}
#formation_title:hover i{
    color: #333;
}
#formation_title:hover{
    border: 1px dotted #333;
}
.maxlength_notice{
    color: red;
    font-size: 13px;
    color: transparent;
}
#edit_label_id{
    display:none;
}
.yellah{
    color: #F3C864;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
}
